{% extends 'base.html' %}
{% block content %}
<!-- テストでテンプレートを判別するためのコード -->
<div class="testHome"></div>

<div class='urlForm'>
    {% if error_message != None %}
        <div class="errorMessage">{{ error_message }}</div>
    {% endif %}

    <a href="https://www.twitch.tv/" target="_blank">
        <img src="/static/image/twitch_logo.jpg" alt="Twitchのロゴ" title="Twitchのロゴ" class="twitch_logo">
    </a>
    <form action="/chart" method="post">
        <div class="row">
            <div class="input-field col s9">
                <label for="url">ex. https://www.twitch.tv/videos/123456789</label>
                <input 
                    id="url" 
                    name="url" 
                    type="text"
                    class="validate"
                    required pattern="https://www.twitch.tv/videos/\d{9}"
                >
            </div>
            <div class="col s3">
                <button type="submit" class="waves-effect waves-light btn urlButton">グラフ作成</button>
            </div>
        </div>
    </form>

    <a href="https://www.youtube.com/" target="_blank">
        <img src="/static/image/youtube_logo.png" alt="youtubeのロゴ" title="youtubeのロゴ" class="youtube_logo">
    </a>
    <form action="/chart" method="post">
        <div class="row">
            <div class="input-field col s9">
                <label for="url">ex. https://www.youtube.com/watch?v=hjYmUjMaZAw</label>
                <input 
                    id="url" 
                    name="url" 
                    type="text"
                    class="validate"
                    required pattern="https://www.youtube.com/watch\?v=[0-9A-Za-z-_]{11}"
                >
            </div>
            <div class="col s3">
                <button type="submit" class="waves-effect waves-light btn urlButton">グラフ作成</button>
            </div>
        </div>
    </form>
</div>

<div class="help">
    <h4>使い方</h4>

    <p>1. 動画URLを取得</p>
    <img src="/static/image/twitch_video.png" alt="Twitchの動画の写真" title="Twitchの動画">
    <img src="/static/image/youtube_video.png" alt="youtubeの動画の写真" title="youtubeの動画">

    <p>2.  取得したURLを入力して「グラフ作成」をクリック</p>
    <img src="/static/image/url_input.png" alt="URL入力蘭の写真" title="URL入力蘭">

    <p>3. グラフを見る</p>
    <img src="/static/image/grapth.png" alt="グラフの写真" title="グラフ">
</div>


<script src="/static/js/home.js"></script>
{% endblock %}