/* home.html */
.errorMessage {
    font-size: 24px;
    color: #CC3333;
    margin-bottom: 50px;
}

.urlForm {
    margin-top: 50px;
    margin-bottom: 50px;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
}

.urlForm p{
    font-size: 16px;
    margin-bottom: 50px;
}

/* grapth.html */
.videoTitle {
    margin-top: 50px;
    display: block;
    text-align: center;
}

.videoTitle a{
    font-size: 24px;
}

.videoInfo {
    margin-top: 50px;
    margin-bottom: 50px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}    

#chartPlace {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}


/* help.html */
.help {
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
}

.help img{
    max-width: 650px;
    height: auto;
    margin-bottom: 20px;
}