{% extends 'base.html' %}
{% block content %}

<h4><a href="{{ video_info['url'] }}" target="_blank">{{ video_info['title'] }}</a></h4>

<table>
    <tr>
        <td>配信者</td>
        <td><a href="https://www.twitch.tv/{{ video_info['user_name'] }}" target="_blank">
            {{ video_info['user_name'] }}
        </a></td>
    </tr>
    <tr>
        <td>配信日</td>
        <td>{{ video_info['created_at'][0:10] }}</td>
    </tr>
    <tr>
        <td>配信時間</td>
        <td>{{ video_info['duration_minutes'] }}分</td>
    </tr>
</table>

<div id="chartPlace">
    <!-- グラフが挿入される -->
</div>

<script src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js'></script>

<script>
    const data = {{ comment_data | tojson }};
    const data_length = data['w_count'].length;

    let label = [];
    for (let i = 0; i < data_length; i++) {
        if (i % 5 == 0) {
            let hour = Math.floor(i / 60);
            let minute = i % 60;
            if (minute < 10) {
                label.push(hour + ':0' + minute);
            } else {
                label.push(hour + ':' + minute);
            }
        } else {
            label.push('')
        }
    }

    // グラフ生成処理のループ回数を決める。グラフは60分ごとに生成する。
    loopCount = Math.floor(data_length / 60) + 1
    console.log(loopCount)
    var chartPlace = document.getElementById('chartPlace');
    for (let i = 0; i < loopCount; i++) {
        // htmlにcanvasタグを追加
        canvasId = 'chart' + i;
        chartPlace.insertAdjacentHTML('beforeend', '<canvas id="' + canvasId + '"></canvas>');
        var ctx = document.getElementById(canvasId);
        var myChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: label.slice(i * 60, (i + 1) * 60),
                datasets: [
                    {
                        type: 'bar',
                        label: 'コメント',
                        data: data['comment_count'].slice(i * 60, (i + 1) * 60),
                        borderColor: "rgba(54,164,235,0.8)",
                        backgroundColor: "rgba(54,164,235,0.5)",
                    },
                    {
                        type: 'line',
                        label: 'ｗ、草',
                        data: data['w_count'].slice(i * 60, (i + 1) * 60),
                        borderColor: "rgba(254,97,132,0.8)",
                        backgroundColor: "rgba(254,97,132,0.5)",
                    }
                ],
            },
        });
    };
</script>
{% endblock %}