{% extends 'base.html' %}
{% block content %}

<form action="/grapht" method="post">
    <p>
        動画URL：<input type="text" name="url" size="40">
    </p>
    <p>
        <input type="submit" value="送信">
    </p>
</form>

<div id="chartPlace">
    <!-- グラフが挿入される -->
</div>

<script src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js'></script>

<script>
    const data = {{ comment_data | tojson }};
    const data_length = data['w_count'].length;

    let label = [];
    for (let i = 0; i < data_length; i++) {
        if (i % 5 == 0) {
            let hour = Math.floor(i / 60);
            let minute = i % 60;
            if (minute < 10) {
                label.push(hour + ':0' + minute);
            } else {
                label.push(hour + ':' + minute);
            }
        } else {
            label.push('')
        }
    }

    // グラフ生成処理のループ回数を決める。グラフは60分ごとに生成する。
    loopCount = Math.floor(data_length / 60) + 1
    console.log(loopCount)
    var chartPlace = document.getElementById('chartPlace');
    for (let i = 0; i < loopCount; i++) {
        // htmlにcanvasタグを追加
        canvasId = 'chart' + i;
        chartPlace.insertAdjacentHTML('beforeend', '<canvas id="' + canvasId + '"></canvas>');
        var ctx = document.getElementById(canvasId);
        var myChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: label.slice(i * 60, (i + 1) * 60),
                datasets: [
                    {
                        type: 'bar',
                        label: 'コメント',
                        data: data['comment_count'].slice(i * 60, (i + 1) * 60),
                        borderColor: "rgba(54,164,235,0.8)",
                        backgroundColor: "rgba(54,164,235,0.5)",
                    },
                    {
                        type: 'line',
                        label: 'ｗ、草',
                        data: data['w_count'].slice(i * 60, (i + 1) * 60),
                        borderColor: "rgba(254,97,132,0.8)",
                        backgroundColor: "rgba(254,97,132,0.5)",
                    }
                ],
            },
        });
    };
</script>
{% endblock %}