{% extends 'base.html' %}
{% block content %}

<div class='urlForm'>
    {% if error_message != None %}
        <div class="errorMessage">{{ error_message }}</div>
    {% endif %}
    <form action="/" method="post">
        <div class="row">
            <div class="col s9">
                <input 
                    placeholder="ex. https://www.twitch.tv/videos/123456789" 
                    id="url" 
                    name="url" 
                    type="text"
                    class="validate"
                    required pattern="https://www.twitch.tv/videos/\d{9}"
                >
            </div>
            <div class="col s3"><button type="submit" class="waves-effect waves-light btn">グラフ作成</button></div>
        </div>
    </form>
    <details>
        <summary>デモ用動画URL</summary>
        <div class="row">
            <div class="col s9">
                <input id="copyTarget" type="text" value="https://www.twitch.tv/videos/788601557" readonly>
            </div>
            <div class="col s3">
                <button onclick="copyToClipboard()"class="waves-effect waves-light btn">
                    <i class="material-icons">content_copy</i>
                </button>
            </div>
        </div>
    </details>
</div>

<div class="help">
    <h5>使い方</h5>

    <p>1. <a href="https://www.twitch.tv/" target="_blank">Twitch</a>で動画URLを取得</p>
    <img src="/static/image/twitch_video.png" alt="Twitchの動画の写真" title="Twitchの動画">

    <p>2.  取得したURLを入力して「グラフ作成」をクリック</p>
    <img src="/static/image/url_input.png" alt="URL入力蘭の写真" title="URL入力蘭">

    <p>3. グラフを見る</p>
    <img src="/static/image/grapth.png" alt="グラフの写真" title="グラフ">
</div>


<script src="/static/js/home.js"></script>
{% endblock %}