{% extends 'base.html' %}
{% block content %}

<div class='urlForm'>
    <p>動画URLを入力して、グラフを作成！</p>
    <form action="/grapht" method="post">
        <div class="row">
            <div class="col s9">
                <input placeholder="例　https://www.twitch.tv/videos/123456789" id="url" name="url" type="text"
                    class="validate">
            </div>
            <div class="col s3"><button type="submit" class="waves-effect waves-light btn">グラフ作成</button></div>
        </div>
    </form>
    <details>
        <summary>デモ用動画URL</summary>
        <div class="row">
            <div class="col s9">
                <input id="copyTarget" type="text" value="https://www.twitch.tv/videos/739949384" readonly>
            </div>
            <div class="col s3">
                <button onclick="copyToClipboard()"class="waves-effect waves-light btn">
                    <i class="material-icons">content_copy</i>
                </button>
            </div>
        </div>
    </details>
</div>


<script src="/static/js/home.js"></script>
{% endblock %}